{% extends './index.html' %}
{% load static %} 
{% block content %}

<div class="w3layouts-banner" id="home">
    <div class="container">

<!---
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
          <button type="submit">Sign up</button>
        </form>
-->
        <div class="clearfix"></div>

        <div class="agileits-register">
            <form action="" method="post" class="form-group">            
              {% csrf_token %}
                <div class="form-group col-md-12 mb-3">
                    <span>Name:</span>
                    <input type="text" name="seeker_name" placeholder="enter name" required=""/>
                </div>

                <div class="form-group col-md-12 mb-3">
                    <span>Email.: </span>
                    <input type="email" name="seeker_email" 
                    placeholder="enter email" required=""/>
                </div>

                <div class="form-group col-md-12 mb-3">
                    <span>Pwd....:  </span>
                    <input type="password" name="seeker_password" 
                    placeholder="enter pwd" required=""/>
                </div>
                
                <hr class="mb-4">   
             
                <div class="w3_modal_body_grid w3_modal_body_grid1">
                    <span>Mobile No:</span>              
                               
                    <input id="phone" type="tel" name="seeker_mobile" placeholder="enter mobile no.">
                      <script src="{% static 'js/intlTelInput.js' %}"></script>
                    <script>
                    $("#phone").intlTelInput({
                      allowDropdown: false,
                      autoHideDialCode: false,
                      autoPlaceholder: "off",
                      dropdownContainer: "body",
                      excludeCountries: ["us"],
                      formatOnDisplay: false,
                      geoIpLookup: function(callback) {
                        $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
                          var countryCode = (resp && resp.country) ? resp.country : "";
                          callback(countryCode);
                        });
                      },
                      initialCountry: "auto",
                      nationalMode: false,
                      onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                      placeholderNumberType: "MOBILE",
                      preferredCountries: ['cn', 'jp'],
                      separateDialCode: true,
                      utilsScript: "{% static 'js/utils.js' %}"
                    });
                    </script>
                </div>    

                
                <div class="w3-agree">
                    <input type="checkbox" id="c1" name="cc">
                    <label class="agileits-agree">I have read & agree to the <a href="/terms">Terms and Conditions</a></label>
                </div>             

                <input type="submit" value="Register me" />
                <div class="clearfix"></div>
                <p class="w3ls-login"> <a href="/login" >Already a member?<span>Login</span></a></p>
            </form>
        </div>
        
    </div>
<div>

{% endblock content %}