{% extends './index.html' %}
{% load static %} 
{% block content %}

	<!-- inner banner -->	
	<div class="w3layouts-inner-banner">
	<div class="container">
		<div class="logo">
			<h1><a class="cd-logo link link--takiri" href="index.html">Sitemap - Match (abridged) <span><i class="fa fa-heart" aria-hidden="true"></i>Made in heaven.</span></a></h1>
		</div>
		<div class="clearfix"></div>
		</div>
	</div>
	<!-- //inner banner -->	
	
	<!-- breadcrumbs -->
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs"><a href="index.html">Home</a> > <span>Sitemap</span></span>
		</div>
	</div>
	<!-- //breadcrumbs -->
	
	<!-- sitemap -->
	<div class="w3ls_sitemap">
		<div class="container">
			<h2>Sitemap</h2>
			<div class="agileits_sitemap_list">
				<h5>Browse Profiles by</h5>
				<ul>
					<li><a href="l_list.html">Mother Tongue</a></li>|
					<li><a href="c_list.html">Caste</a></li>|
					<li><a href="r_list.html">Religion</a></li>|
					<li><a href="city_list.html">City</a></li>|
					<li><a href="o_list.html">Occupation</a></li>|
					<li><a href="s_list.html">State</a></li>
				</ul>
			</div>
			<div class="agileits_sitemap_list">
				<h5>Company</h5>
				<ul>
					<li><a href="about.html">About Us</a></li>|
					<li><a href="feedback.html">Feedback</a></li>|
					<li><a href="help.html">Help</a></li>|
					<li><a href="tips.html">Safety Tips</a></li>|
					<li><a href="typo.html">Typography</a></li>|
					<li><a href="icons.html">Icons</a></li>
				</ul>
			</div>
			<div class="agileits_sitemap_list">
				<h5>Quick Links</h5>
				<ul>
					<li><a href="terms.html">Terms of use</a></li>|
					<li><a href="privacy_policy.html">Privacy Policy</a></li>|
					<li><a href="contact.html">Contact Us</a></li>|
					<li><a href="faq.html">FAQ</a></li>
				</ul>
			</div>
			<div class="agileits_sitemap_list">
				<h5>Remaining</h5>
				<ul>
					<li><a href="index.html">Home</a></li>|
					<li><a href="search.html">Search</a></li>|
					<li><a href="app.html" target="_blank">Mobile</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //sitemap -->
	
	{% include './browse_profiles.html' %}	

	<!-- Get started -->
	<div class="w3layous-story text-center">
		<div class="container">
			<h4>Your story is waiting to happen!  <a href="index.html">Get started</a></h4>
		</div>
	</div>
	<!-- //Get started -->
	


{% endblock content %}