
    <h2> from w3ls-aside.html </h2>
    <h4>Filter Profiles by</h4>
    <div class="fltr-w3ls">
        <h5>City</h5>
        <ul>
            <li><a href="/city_list">City1</a></li>
            <li><a href="/city_list">City2</a></li>
            <li><a href="/city_list">City3</a></li>
            <li><a href="/city_list">City4</a></li>
            <li><a href="/city_list">City5</a></li>
            <li><a href="/city_list">City6</a></li>
            <li><a href="/city_list">City7</a></li>
            <li><a href="/city_list">City8</a></li>
            <li><a href="/city_list">City9</a></li>
            <li><a href="/city_list">City10</a></li>
        </ul>
    </div>
    <div class="fltr-w3ls">
        <h5>Religion</h5>
        <ul>
            <li><a href="/r_list">Religion1</a></li>
            <li><a href="/r_list">Religion2</a></li>
            <li><a href="/r_list">Religion3</a></li>
            <li><a href="/r_list">Religion4</a></li>
            <li><a href="/r_list">Religion5</a></li>
            <li><a href="/r_list">Religion6</a></li>
            <li><a href="/r_list">Religion7</a></li>
            <li><a href="/r_list">Religion8</a></li>
            <li><a href="/r_list">Religion9</a></li>
            <li><a href="/r_list">Religion10</a></li>
        </ul>
    </div>
    <div class="fltr-w3ls">
        <h5>Profession</h5>
        <ul>
            <li><a href="/nri_list">Profession1</a></li>
            <li><a href="/nri_list">Profession2</a></li>
            <li><a href="/nri_list">Profession3</a></li>
            <li><a href="/nri_list">Profession4</a></li>
            <li><a href="/nri_list">Profession5</a></li>
            <li><a href="/nri_list">Profession6</a></li>
            <li><a href="/nri_list">Profession7</a></li>
            <li><a href="/nri_list">Profession8</a></li>
            <li><a href="/nri_list">Profession9</a></li>
            <li><a href="/nri_list">Profession10</a></li>
        </ul>
    </div>